@import "utilities.css";

:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternaary: #898989;
  --light: #f2f2f2;
}
body {
  font-family: "Poppins", "san-serif";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
}
header {
  background-color: var(--dark);
  height: 500px;
}

.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

header nav .left a {
  text-decoration: none;
  color: var(--pure);
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

header nav .left a:hover {
  color: var(--primary);
}

header nav {
  padding: 2rem 0;
}

header nav .branding {
  margin-right: 3rem;
}

header nav .branding a {
  margin-right: 3rem;
}
